## ===============================
## .NET / Visual Studio
## ===============================
.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## ===============================
## Build / Publish
## ===============================
[Bb]uild/
[Dd]ist/
*.dll
*.exe
*.pdb

## ===============================
## Logs
## ===============================
*.log

## ===============================
## Rider / VS Code
## ===============================
.idea/
.vscode/

## ===============================
## OS
## ===============================
.DS_Store
Thumbs.db
